<nav class="header" ng-controller="LinkCtrl"><img class="logo" src="images/logo-caserita.jpg" alt="logo"/>
    <ul class="left">
      <li ng-click="linkGeo()">Georeferenciación</li>
      <li ng-click="linkGes()" ng-if="credentials.currentUser.role == 'ADMI' || credentials.currentUser.role == 'SUPE'">Gestión Masiva de Vendedores</li>
    </ul>
    <ul class="right">
      <li class="text" ng-model="credentials">Bienvenido {{credentials.currentUser.name}}</li>
      <li>
        <button type="button" ng-click="linkLogin()">Cerrar Sesión</button>
      </li>
    </ul>
  </nav>
  <div class="margin"></div>
  <div id="Ges" ng-controller="GestionMasivaCtrl" >
    <div class="selectors" >
      <button class="collapse" ng-click="mostrar(1)" type="button" ng-if="credentials.currentUser.role == 'ADMI' || credentials.currentUser.role == 'SUPE'">Supervisor y rango de fecha</button>
      <ul class="collapsible" ng-if="collapsea" id="Collapsible1" style="display: inline-block">
        <li ng-if="credentials.currentUser.role == 'ADMI'">
          <select ng-options="supervisor as supervisor.nombre for supervisor in supervisores" ng-model="selectedSupervisor" ng-change="getvendedores(selectedSupervisor.codigo)">
            <option value="" disabled="disabled" selected="selected" >Seleccione Supervisor</option>
          </select>
        </li>
        <li>
          <input class="text" ng-model="ctrl.day" placeholder="Seleccione día" moment-picker="ctrl.toDay" format="DD-MM-YYYY" ng-model-options="{ updateOn: 'blur' }"/>
        </li>
        <li class="sliderContainer">Hora del día
          <rzslider class="custom-slider" rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
        </li>
      </ul>
      <button class="collapse" type="button" ng-click="mostrar(2)" ng-if="credentials.currentUser.role == 'ADMI' || credentials.currentUser.role == 'SUPE'">Ranking vendedores según visitas para supervisor seleccionado</button>
      <ul class="collapsible" ng-if="collapseb" id="Collapsible2" style="display: inline-block">
        <div class="vendorsWrap">
          <label ng-repeat="vendedor in vendedores"><span> {{vendedor.nombreVendedor }}</span></label>
        </div>
      </ul>
    </div>
    <button class="greenBar" type="button" ng-disabled="saving" ng-click="gesMarkers(ctrl.day, slider.minValue, slider.maxValue)">Actualizar Resultados<img ng-hide="hideLoader" src="images/loader.gif" width="20" height="20"/></button>
    <div class="info">
      <p>Información sobre el rendimiento de ventas
        <div class="red"></div>0-25%
        <div class="orange"></div>25-50%
        <div class="yellow"></div>50-75%
        <div class="green"></div>75-100%
      </p>
    </div>
    <div id="mapa">
      <gm-map options="{center: [-33.455,-70.655], zoom: 9, mapTypeId: google.maps.MapTypeId.TERRAIN}">
      </gm-map>
    </div>
  </div>
